{% load static %}

<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Talabalar Ro‘yxati</title>
</head>
<body>
    <h1>Talabalar Ro‘yxati</h1>
    <a href="{% url 'add_student' %}">Yangi Talaba Qo‘shish</a>
    <ul>
        {% for student in students %}
            <li>
                {{ student.first_name }} {{ student.last_name }} - {{ student.age }} yosh |
                <a href="{% url 'update_student' student.id %}">Tahrirlash</a> |
                <a href="{% url 'delete_student' student.id %}">O‘chirish</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
